<h1>Bienvenue au Text MapReducer</h1>
<hr>
<h2>Initialization des acteurs Akka</h2>
<br>
<form th:action="@{/mapreduce/init}" method="post">
    <button>Initializer</button>
</form>
<hr>
<h2>Fichier à analyser</h2>
<br>
<form>
    Fichier: <input type="file" name="fichier" id="fichier"><br>
    <button>Soumettre</button>
</form>
<br>
<hr>
<h2>Résultat</h2>
Mot: <span></span><br>
Nombre d'occurences: <span></span>
<form action="">
    Mot à trouver: <input type="text" name="" id="">
    <button>Soumettre</button>
</form>